{% extends "_main.jinja" %}

{% block title %} Article not found {% endblock %}

{% block main %}  
    <h1> POZOR </h1>
    <h2> This article doesnt exist. </h2>
    <p> Unfortunately this article with id "{{ art_id }}" doesnt exist:(</p>
    <div>
        <a href={{ url_for("main.view_wellcome_page") }}> Home </a> | 
        <a href={{ url_for("main.view_articles") }}> All articles </a>
    </div>            
{% endblock %}