{% extends "_main.jinja" %}

{% block title %} Page not found {% endblock %}

{% block main %}
    <div class="internal_error">
        <p>
            Ooops! Page was not found. If it should exist, please contact <a href="mailto:support@blabla.cz">support</
            a>
        </p>
    </div>
{% endblock %}