{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
Integer pellentesque quam vel velit. Phasellus et lorem id felis nonummy placerat. 
Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Sed vel lectus. 
Donec odio tempus molestie, porttitor ut, iaculis quis, sem.
{% endblock %}



