<!DOCTYPE html>
<html lang="en">

<head>
    <title> Welcome to Markdown blog </title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>

<body>
<header>
    <h1> Václav Vacek </h1>
</header>  

<nav>
    <ul class=nav>
        <li><a href="#">About</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Admin</a></li>
    </ul>
</nav>

<main>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus luctus egestas leo. Curabitur sagittis hendrerit ante. 
    Etiam egestas wisi a erat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
    Et harum quidem rerum facilis est et expedita distinctio. In convallis. Nullam faucibus mi quis velit.
</main>

<footer>
    <p>
        (c) 2020 Václav Vacek
    </p>
</footer>
</body>

</html>